@using System.Net.Http
@using System.Text
@using System.Text.Json
@using System.Net.Http.Headers
@using BattleShip.Models;
@inject IJSRuntime JS
@rendermode InteractiveServer

<h3>Battleship</h3>

@if (!instance.GameStarted)
{
    <button @onclick="StartGame">Démarrez une partie !</button>
}
else
{
    <div id="battlefields">
        <p class="Board">
            <div>Votre tableau</div>
            <table>
                <tbody>
                    @foreach (var i in Enumerable.Range(0, instance.PlayerBoard.GetLength(0)))
                    {
                        <tr>
                            @foreach (var j in Enumerable.Range(0, instance.PlayerBoard.GetLength(1)))
                            {
                                <td class="battlefield-cell" row="@i" column="@j">@instance.PlayerBoard[@i, @j]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </p>
        <div>===></div>
        <p class="Board">
            <div>Tableau de l'IA</div>
            <table>
                <tbody>
                    @foreach (var i in Enumerable.Range(0, instance.OpponentBoard.GetLength(0)))
                    {
                        <tr>
                            @foreach (var j in Enumerable.Range(0, instance.OpponentBoard.GetLength(1)))
                            {
                                <td class="battlefield-cell" @onclick="() => HitCell(i, j)" style="cursor:pointer" row="@i" column="@j">@convertOpponentBoardCellIntoString(@i, @j)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </p>
    </div>
}

@code {
    private GameSingleton instance = GameSingleton.Instance;

    private HttpClient client = InitializeHttpClient();

    public static HttpClient InitializeHttpClient()
    {
        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri("http://localhost:5252");

        // Add an Accept header for JSON format.
        client.DefaultRequestHeaders.Accept.Add(
        new MediaTypeWithQualityHeaderValue("application/json"));
        return client;
    }

    private char convertOpponentBoardCellIntoString(int row, int column)
    {
        bool? v = instance.OpponentBoard[row, column];
        return v == null
            ? '◘' : v == true ? 'X' : 'O';
    }

    private async Task StartGame()
    {
        StringContent jsonContent = new(
        JsonSerializer.Serialize(new
        {
            PlayerName = "Test",
        }),
        Encoding.UTF8,
        "application/json");
        await JS.InvokeVoidAsync("console.log", $"{jsonContent.ToString()}");
        try
        {
            HttpResponseMessage response = await client.PostAsync(
                    "start", jsonContent);
            response.EnsureSuccessStatusCode();
            var stringValue = await response.Content.ReadAsStringAsync();
            var jsonValue = JsonSerializer.Deserialize<JsonElement>(stringValue);
            var guid = jsonValue.GetProperty("gameId").GetGuid();
            JsonElement jsonPlayerBoard = jsonValue.GetProperty("playerBoard");
            instance.CreateNewGame(guid, jsonPlayerBoard);
            await JS.InvokeVoidAsync("console.log", $"PlayerBoard : {jsonValue.GetProperty("playerBoard")}");
        }
        catch (HttpRequestException ex)
        {
            await JS.InvokeVoidAsync("console.log", $"Error : {ex.Message}");
        }
    }

    private async Task HitCell(int row, int column)
    {
        if (instance.OpponentBoard[row, column] != null)
        {
            return;
        }
        Fire fire = new Fire();
        fire.Row = row;
        fire.Column = column;
        fire.GameId = instance.Id.ToString();
        StringContent jsonContent = new(
            JsonSerializer.Serialize(fire),
            Encoding.UTF8,
        "application/json");
        await JS.InvokeVoidAsync("console.log", $"{JsonSerializer.Serialize(fire)}");
        try
        {
            HttpResponseMessage response = await client.PostAsync(
                   "fire", jsonContent);
            response.EnsureSuccessStatusCode();
            var stringValue = await response.Content.ReadAsStringAsync();
            var jsonValue = JsonSerializer.Deserialize<JsonElement>(stringValue);
            // await JS.InvokeVoidAsync("console.log", $"{jsonValue}");
            instance.OpponentBoard[row, column] = jsonValue.GetProperty("playerTurn").GetProperty("cellState").GetString() == CellState.Hit.ToString()
                ? true : false;
            JsonElement aiTurn = jsonValue.GetProperty("aiTurn");
            String? cellState = aiTurn.GetProperty("cellState").GetString();
            if (cellState == "Error")
            {
                return;
            }
            int aiRow = aiTurn.GetProperty("row").GetInt16();
            int aiColumn = aiTurn.GetProperty("column").GetInt16();
            instance.PlayerBoard[aiRow, aiColumn] = cellState == CellState.Hit.ToString()
                ? aiTurn.GetProperty("shipSymbol").GetString()[0] : cellState == CellState.Miss.ToString() ? '•' : '?';
            // await JS.InvokeVoidAsync("console.log", $"{instance.OpponentBoard[i, j]}");
        }
        catch (HttpRequestException ex)
        {
            await JS.InvokeVoidAsync("console.log", $"Error : {ex.Message}");
        }
    }
}
